.c-notice {
    font-size: 16px;
    line-height: 30px;
    text-algin: center;
    text-align: left;
    /* 让新闻内容靠左 */
    *zoom: 1;
    padding: 10px 20px;
}

.c-notice:after {
    display: block;
    content: "clear";
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

.cn-title {
    float: left;
    font-size: 26px;
}

.cn-title a {
    color: #f00;
    text-decoration: none;
}

.cn-msg {
    height: 30px;
    overflow: hidden;
    /*  这个一定要加，超出的内容部分要隐藏，免得撑高中间部分 */
}

.cn-msg ul {
    margin: 0;
}

.c-notice a img {
    border: none;
    /*  超链接下，图片的边框  */
}

.c-notice ul a {
    color: #333;
    text-decoration: none;
    line-height: 30px;
}

.c-notice a:hover {
    color: #ff0000;
}

.c-notice ul li {
    height: 30px;
    overflow: hidden;
}

.c-notice ul li a {
    float: left;
    display: block;
    overflow: hidden;
    text-indent: 15px;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}

.c-notice ul li span {
    float: right;
    color: #999;
    line-height: 30px;
}